text {
  font-family: sans-serif;
  font-size: 10px;
  text-decoration: none;
}

.bold {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.legend {
  font-family: serif;
  font-size: 15px;
}

.bold_legend {
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
}

.node {
  stroke-linecap: round;
}

.link {
  fill: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  margin-top: 30px;
}

body h1 {
  padding: 10px
}

.main {
  height: 100px;
  padding: 10px;
}